.FlexContainer {
display: flex;
flex-direction: column;
justify-content: center;
width: 100%;

.RecoveryOption {
    background-color: greenyellow;
    display: flex;
    border: 1px solid black;
    width: 80%;
    border-radius: 25px;
    justify-content: space-between;
}
.AddDeviceList{
    display: flex;
    border: 1px solid black;
    width: 80%;
    border-radius: 25px;
    align-items: center;
    justify-content: space-between;
    .AddDeviceEthLogo{
        height: 32px;
    }
}
}