@import '../../variables';


.Processor {
    position: absolute;
    width: 100%;
    height: 90px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    &__Button {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;       
        background-color: transparent;
        svg {
            fill: $secondary;
            width: 36px;
            height: 36px;
        }
        margin: 0;
        padding: 0px;
        &:hover {
            background: none;
            svg {fill: $secondary-hover; }
        }
    }
    .Dropdown__Open {
        width: 100%;
    }

}


.Toast {
    position: absolute;
    top: 77px;
    margin-left: -15px;
    margin-right: -15px;
    left: 0;
    width: calc(100% + 30px);
    z-index: 1;
    .Item {
        display: flex;
        align-content: center;
        justify-content: space-between;
        padding: 15px 15px;
        flex-direction: row;
        background-color: white;
        .Description {
            display: flex;
            align-content: center;
            justify-content: flex-start;
            flex-direction: column;
            &__Title {
                font-size: 1em;
                margin: 0;
                margin-bottom: 5px;
                margin-top: 5px;
            }
            a { color: #aaa; }
        }
        .Status {
            display: flex;
            align-content: center;
            justify-content: center;
            flex-direction: column;
            text-align: center;
            width: 80px;
            svg { width: 36px; height: 36px; }
        }
        p:not(.Description__Title) { font-size: 0.85em; margin: 0; color: #aaa }
        border-bottom: 1px solid #efefef;
    }
}

.BcStatic {
    margin: 0;
    padding: 6px;
    &__Inner {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background-color: $secondary;
        transition: all .15s linear;
    }
    &:hover &__Inner { 
        background-color: $secondary-hover; 
    }
}

.Dropdown__Footer {
    width: calc(100% - 30px);
    background: white;
    padding: 15px 15px;
    border-bottom: 1px solid #efefef;
}

.Backdrop__Open {
}