@import '../../variables';

.Loading {
    width: 100%;
    height: 100%;
    position: fixed;
    background: $app-background;
    display: block;
    svg {  
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 80px;
        height: 80px;
    }
}