@import '../../variables';

.TopNav {
  position: relative;
  width: 100%;
  height: 62px;
  .Brand {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 1;
    img { height: 60px; }
  }
  .Auth {
    position: absolute;
    right: 0px;
    top: 15px;
    border: 2px solid #000;
    border-radius: 15px;
    padding: 5px 15px;
    background-color: white;
    transition: all .15s linear;
    z-index: 1;
    font-weight: 900;
    &__Button {
      border-radius: 0px;
      padding: 0px;
      padding-right: 12px;
      margin: 0;
      text-decoration: none;
      transition: all .15s ease-in-out;
      background-color: transparent;
      color: #000;
      width: 90px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      text-align: left;
      svg {
        display: block;
        position: absolute;
        right: 7px;
        top: 3px;
        fill: black;
      }
      &:hover {
        color: $purpler;
        svg { 
          fill: $purpler;
        }
      }
    }
  } 
}

.Dropdown {
  position: relative;
  height: 0px;
  overflow: hidden;
  transition: all .15s linear;
  &__Open {
    transition: all .15s linear;
    height: auto;
    overflow: visible;
    z-index: 2;
    &--Item {
      margin: 25px 0px;
      display: block;
    }
  }
}

.Backdrop__Open {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}