@import '../../variables';
.UserWallet {
    position: relative;
}
.Wallet {
    border: 1px solid #efefef;
    border-radius: 10px;
    position: relative;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    margin: 25px;
    .Header {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom: 1px solid #efefef;
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: space-between;
        background-color: $purpler;
        .Address {
            margin: 0;
            padding: 0px;
            border: none;
            background: none;
            color: white;
            width: auto;
            display: flex;
            align-content: center;
            &:hover {
                color: $tertiary;
                fill: $tertiary;
            }
            svg { display: inline-block; fill: $tertiary; width: 18px; height: 18px; margin-left: 5px; }
        }
        .Status {
            font-size: 0.85em;
            position: relative;
            color: $tertiary;
            &:before {
                content: '';
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background-color: $tertiary;
                display: block;
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                margin-left: -15px;
            }
        }
    }
    .Contents {
    }
    &__Footer {
        .Powered { 
            font-size: .85em; 
            font-weight: 700;
            color: #ccc; 
            text-align: center;
        }
    }
}

.Balances {
    .Item {
        display: flex;
        align-content: center;
        justify-content: space-between;
        padding: 15px 15px;
        flex-direction: column;
        background-color: $app-background;
        @media (min-width: $tablet) {
            flex-direction: column;
        }
        p {margin: 0; padding: 0px; }
        border-bottom: 1px solid #efefef;
        p:nth-child(1){
            font-size: 0.85em; 
            color: #333;
        }
        p:nth-child(2){
           font-size: 1.5em; 
        }
    }
}

.Transactions {
    .Item {
        display: flex;
        align-content: center;
        justify-content: space-between;
        padding: 15px 15px;
        flex-direction: row;
        background-color: $app-background;
        .Description {
            display: flex;
            align-content: center;
            justify-content: flex-start;
            flex-direction: column;
            &__Title {
                font-size: 1.3em;
                margin: 0;
                margin-bottom: 5px;
                margin-top: 5px;
            }
            a { color: #aaa; }
        }
        .Status {
            display: flex;
            align-content: center;
            justify-content: center;
            flex-direction: column;
            text-align: center;
            width: 80px;
            svg { width: 36px; height: 36px; }
        }
        p:not(.Description__Title) { font-size: 0.85em; margin: 0; color: #aaa }
        border-bottom: 1px solid #efefef;
    }
}

.Actions {
    display: flex;
    align-content: center;
    justify-content: space-around;
    flex-direction: column;
    padding: 0px 25px;
    margin-bottom: 50px;
    button { margin: 10px 0px;}
}


@media (min-width: $phone) {
    .UserWallet { max-width: 1200px; margin: 0 auto; }
    .Actions { flex-direction: column; }
    .Wallet { width: 40%; float: left; }
    .Actions { width: 40%; float: right;}
    .Transactions { width: 100%; clear: both; margin: 0 auto; margin-top: 75px; max-width: 1160px;  }
}